<header>
  <div id="head" class="text-center p-5">
    <h1>What color is this?</h1>
    <p id="rgbBoard"></p>
  </div>
  <div
    id="control"
    class="d-flex justify-content-around align-items-center text-center"
  >
    <button id="resetButton" type="button" class="btn btn-link">
      Next Level
    </button>
    <p id="gameStatus"></p>
    <div>
      <button
        [disabled]="!isAuthenticated"
        type="button"
        (click)="onClick()"
        class="btn btn-link"
      >
        Save highscore
      </button>
    </div>
  </div>
</header>

<section id="gameContent">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-6 col-lg-4">
        <div class="block"></div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="block"></div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="block"></div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="block"></div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="block"></div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="block"></div>
      </div>
    </div>
  </div>
</section>

<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Status</h5>
    <h6 class="card-subtitle mb-2 text-muted">Do you love this game? :)</h6>
    <p class="card-text">
      Highscore: <span class="text-primary" id="highscore">0</span> | Chances:
      <span class="text-primary" id="chance">3</span>
    </p>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of topPlayersList">
      <td>{{ player.email }}</td>
      <td>{{ player.score }}</td>
    </tr>
  </tbody>
</table>
